<!doctype html>
<html>
    <head>
        <title><%= yield_content(:title) || 'Welcome' %> | MiniTwit</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type=text/css href="/stylesheets/style.css?<%= Time.now.to_i %>">
    </head>
    <body>
        <div class="page">
            <h1>MiniTwit</h1>
            <div class="navigation">
                <% if @user %>
                    <a href="/" class="<%= request.path_info == '/' ? 'active' : '' %>">my timeline</a> |
                    <a href="/public" class="<%= request.path_info == '/public' ? 'active' : '' %>">public timeline</a> |
                    <a href="/logout">sign out [<%= @user.username %>]</a>
                <% else %>
                    <a href="/" class="<%= request.path_info == '/public' ? 'active' : '' %>">public timeline</a> |
                    <a href="/register" class="<%= request.path_info == '/register' ? 'active' : '' %>">sign up</a> |
                    <a href="/login" class="<%= request.path_info == '/login' ? 'active' : '' %>">sign in</a>
                <% end %>
            </div>
            <% if flash %>
                <ul class="flashes">
                    <% flash.keys.each do |type| %>
                        <li><%= flash[type] %></li>
                    <% end %>
                </ul>
            <% end %>
            <% if @flashes %>
                <ul class="flashes">
                    <% @flashes.each do |flash| %>
                        <li><%= flash %></li>
                    <% end %>
                </ul>
            <% end %>
            <div class="body">
                <%= yield %>
            </div>
            <div class="footer">
                MiniTwit &mdash; A Ruby Sinatra Application
            </div>
        </div>
    </body>
</html>


