<h2>Test</h2>

<% if @user %>
  <h1>Timeline for <%= @user %></h1>
  <p>Here is the timeline for <%= @user %></p>
<% end %>

<ul class="messages">
  <% if @messages %>
    <% @messages.each do |message| %>
      <li>
        <img src="<%= gravatar_url(message['email'], 48) %>" alt="gravatar">
          <p>
            <strong>
              <a href="/<%= message['username'] %>">
                <%= message['username'] %>
              </a>
            </strong>
            <%= message['text'] %>
            <small>
              &mdash; <%= format_datetime(message['pub_date']) %>
            </small>
          </p>
      </li>
    <% end %>
  <% else %>
    <li><em>There's no message so far.</em></li>
  <% end %>
</ul>
